@layer tailwind-base, primereact, tailwind-utilities;
@import "primeicons/primeicons.css";
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .chat-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }

    .inbox-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }

    .text-balance {
      text-wrap: balance;
    }
}

.photoswiper .swiper-slide-active{
  scale: 1.35
}

.p-tabview-selected{
    text-decoration: underline;
    text-underline-offset: 6px;
    color: rgb(6, 182, 212)
}

.hide-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    width: 0;
}

.p-dropdown-label{
    font-size: 0.75rem;
}